.todo-details {
    .MuiTextField-root{
        + .MuiTextField-root {
            margin-top: 0.5rem;
        }
    }
    .MuiListItem-gutters{
        padding-left: 0px;
    }


    .todo-steps {
        margin: 1rem 0;
        
        .todo-step-list {
            .mdc-list-item {
                padding: 0;
    
                .mdc-checkbox {
                    margin-right: .5rem;
                }
            }
        }

    }
}
